.autocomplete-modal {
    border: 1px solid black;
    position: absolute;
    width: 100%;
    top: 100%;
}

.autocomplete-modal__inner {
    padding: 0 24px;
    max-height: 200px;
    overflow: scroll;
}

.autocomplete-modal__list .selected-item {
    background: pink;
}

.autocomplete-modal__empty {
    max-height: 200px;
    color: grey;
    padding: 25px;
    font-size: 14px;
}

.autocomplete-modal__list-highlight {
    background: yellow;
}

.autocomplete-modal__sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
