.flotsam-modal {
    position: absolute;
    width: 100%;
    top: 100%;
    border: 1px solid var(--flotsam-border, black);
}

.flotsam-modal__inner {
    padding: 0 24px;
    max-height: 200px;
    overflow: scroll;
}

.flotsam-modal__list .flotsam-modal__selected-item {
    background: var(--flotsam-selected, pink);
}

.flotsam-modal__empty {
    max-height: 200px;
    padding: 25px;
    color: var(--flotsam-empty, grey);
    font-size: 14px;
}

.flotsam-modal__list-highlight {
    background: var(--flotsam-highlight, yellow);
}

.flotsam-modal__hint,
.flotsam-modal__status {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
